

body{
    margin: 0px;
    background-color: #e5e5e5;
    font-family: 'Montserrat' ;
}


#background{
    padding-top: -120px;
    background-image:url(assets/img/background.jpeg) no-repeat center fixed;
    background-size: cover;
    padding-top: 111px;
    height: 638px;
    max-height: 1112px;

}

nav{
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.nav-item{
    font-size: 16px;
}


.carousel-item{
    margin-left: 354px;
    height: 240px;
    width: 1112px;
}

.carousel-indicators{
    margin-top: 350px;
}

#Profil{
    
}

.padd100{
    padding-top:100px ;
}


#more {display: none;}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }


.jumbotron{
    z-index: -100;
}

.card{
    background-color: #eeeeee;
}

#CostomerService{
    z-index: -100;
}